
.courses-show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.author {
    @include text-s;
}

a {
   
    text-decoration: none;

    
}

.courses-time {

    @include text-s;
    color: $gray-600;
}
