

.courses-page {
  
}
.container {

   

    .courses-show {
        padding:50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}


.author {
    @include text-s;
}



.courses-time {

    @include text-s;
    color: $gray-600;
}
