.showcase {
    .container {
        display: flex;
        align-items: center;

        .content {
            margin-top: 0px;
            z-index: 1;
            width: 90%;

            h1 {
                display: flex;
                margin-bottom: 50px;
                height: 30%;
                line-height: 4.5rem;
            }

            p {
                display: flex;
                width: 100%;
            }

            a {
                max-width: 60%;
                margin-bottom: 30%;
                margin-top: 10%;
            }

            .logo-text {
                display: flex;
                justify-content: space-between;
            }

            .rows {
                justify-content: space-evenly;
                align-items: center;


                .logo {
                    margin-top: 5%;
                    margin-left: 10px;
                    font-size: 15px;

                    &:hover {
                        font-size: 10px;
                    }

                    @media lg {
                        font-size: 36px;
                    }
                }
            }
        }

        .calender {
            z-index: -1;
            display: contents;

            img {
                position: relative;
                left: 27%
            }
        }
    }
}
