<section class="contact-us">

	<div class="container">

		<div class="navigation">
			<a class="menu-links" asp-controller="Home" asp-action="Index"> <i class="fa-regular fa-house">  </i> Home  <i class="fa-sharp fa-solid fa-angles-right"></i></a>
			<a class="menu-links" asp-controller="Contact" asp-action="Index">Contact</a>
		</div>
		<h1>Contact Us</h1>

	<div class="contact-content">
		<p class="content-head">Email us</p>
		<p>Please feel free to drop us a line. We will respond as soon as possible.</p>
			<button>Leave a message <i class="fa-sharp fa-solid fa-arrow-right"></i> </button>
			<p class="content-head">Careers</p>
			<p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
			<button>Send an application <i class="fa-sharp fa-solid fa-arrow-right"></i> </button>
	</div>

	</div>



</section>
