@* Courses section *@

<section class="courses-page">

    <div class="container">
        <div class="toolbar">
            <div>
                <div class="navigation">
                    <a class="menu-link" href="#"> <i class="fa-regular fa-house">  </i> Home        <i class="fa-sharp fa-solid fa-angles-right"></i></a>
                    <a class="menu-link" href="#">Courses</a>
                </div>
                <h1>Courses</h1>
            </div>

            <div class="dropdown-search">
                <div class="dropdown">
                    <button class="dropbtn">All categories <i class="fa-solid fa-chevron-down"></i></button>
                    <ul class="dropdown-content">
                        <li><a class="menu-link" href="#">Category 1</a></li>
                        <li><a class="menu-link" href="#">Category 2</a></li>
                        <li><a class="menu-link" href="#">Category 3</a></li>
                    </ul>
                </div>

                <div class="search-courses">
                    <input type="text" placeholder="Search courses">
                    <i class="fa-regular fa-magnifying-glass"></i>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="courses-show">
            <a class="courses" href="#">
                <img src="~/images/coursesImages/laptop.svg" alt="two hands and a laptop">
                <h5>Fullstack Web Developer Course from Scratch</h5>
                <p class="author">By Robert Fox <p>

                <p>$12.50 </p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>220 hours <i class="fa-light fa-thumbs-up"></i> 94% (4.2K)</p>

            </a>
            <a class="courses" href="#">
                <img src="~/images/coursesImages/mandesk.svg" alt="man drinking coffee in front of laptop at desk">
                <h5>HTML, CSS, JavaScript Web Developer</h5>
                <p class="author">By Jenny Wilson & Marvin McKinney<p>

                <p>$15.99 </p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>160 hours <i class="fa-light fa-thumbs-up"></i> 92% (3.1K)</p>

            </a>
            <a class="courses" href="#">
                <img src="~/images/coursesImages/womanyellow.svg" alt="woman in a yellow sweater and headphones smiling in front of laptop">
                <h5>The Complete Front-End Web Development Course</h5>
                <p class="author">By Albert Flores<p>

                <p class="price-red">$9.99</p> <p class="old-price"><del>$44.99</del></p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>100 hours <i class="fa-light fa-thumbs-up"></i> 98% (2.7K)</p>
            </a>

            <a class="courses" href="#">
                <img src="~/images/coursesImages/womancurls.svg" alt="smiling woman with black curly hair and glasses">

                <h5>iOS & Swift - The Complete iOS App Development Course</h5>
                <p class="author">By Marvin McKinney<p>

                <p>$15.99</p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>160 hours <i class="fa-light fa-thumbs-up"></i> 92% (3.1K)</p>
            </a>

            <a class="courses" href="#">
                <img src="~/images/coursesImages/womanhand.svg" alt="smiling woman with headphones in front of laptop">

                <h5>Data Science & Machine Learning with Python</h5>
                <p class="author">By Esther Howard<p>

                <p>$11.20</p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>160 hours <i class="fa-light fa-thumbs-up"></i> 92% (3.1K)</p>
            </a>

            <a class="courses" href="#">
                <img src="~/images/coursesImages/womannote.svg" alt="happy woman with a notebook in her hand">

                <h5>Creative CSS Drawing Course: Make Art With CSS</h5>
                <p class="author">By Robert Fox<p>

                <p>$10.50</p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>220 hours <i class="fa-light fa-thumbs-up"></i> 94% (4.2K)</p>
            </a>

            <a class="courses" href="#">
                <img src="~/images/coursesImages/womandesk.svg" alt="woman sitting at desk with headphones and laptop">

                <h5>Blender Character Creator v2.0 for Video Games Design</h5>
                <p class="author">By Ralph Edwards<p>

                <p>$18.99</p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>160 hours <i class="fa-light fa-thumbs-up"></i> 92% (3.1K)</p>
            </a>

            <a class="courses" href="#">
                <img src="~/images/coursesImages/manheadphones.svg" alt="happy man with headphones">

                <h5>The Ultimate Guide to 2D Mobile Game Development with Unity </h5>
                <p class="author">By Albert Flores<p>

                <p class="price-red"> $12.99</p> <p class="old-price"><del>$44.99</del></p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>100 hours <i class="fa-light fa-thumbs-up"></i> 98% (2.7K)</p>
            </a>

            <a class="courses" href="#">
                <img src="~/images/coursesImages/manlaptop.svg" alt="happy woman with a notebook in her hand">

                <h5>Learn JMETER from Scratch on Live Apps-Performance Testing</h5>
                <p class="author">By Jenny Wilson<p>

                <p>$14.50</p>
                <hr />
                <p class="courses-time"><i class="fa-light fa-clock"></i>  160 hours  <i class="fa-light fa-thumbs-up"></i> 92% (3.1K)</p>
            </a>

        </div>
    </div>

    <div class="banner">
        <p>Ready to get started?</p>
        <h1>Take Your Skills to the Next Level</h1>
        <button class="btn-theme">Work with us</button>

        <img src="~/images/coursesImages/skillspic.svg" alt="illustration of woman with a laptop">
    </div>


</section>

