<section class="light-dark">
    <div class="text">
        <div class="s-b">Switch Between </div>
        <div class="l-d">Light & Dark Mode</div>
    </div>
    <div class="light-dark">
        <div class="dark"></div>
        <div class="light"></div>
        <div class="image">
            <img src="/Images/computer.svg" alt="macbook computer black and white">
        </div>
        <div class="slider">
            <i class="fa-solid fa-arrows-left-right"></i>
        </div>
    </div>
</section>