@* Showcase Section *@
<section class="Showcase">
    <div class="container">
        <div class="content">
            <div
                        <h1>Task Management Assistant You're Gonna Love</h1>
                        <p>We Offer you a new generation of task management systems.</p>
                        <p>Plan, manage & track all your tasks in one flexible tool.</p>
                        <a class="btn-theme-s" href="#">Get started for free</a>
                    </div>
            <div class="logos">
                <h6>The largest companies use our tools to work efficiently</h6>
            </div>
            <div class="brands">
                <img src="/Images/brand-1.svg">
                <img src="/Images/brand-2.svg">
                <img src="/Images/brand-3.svg">
                <img src="/Images/brand-4.svg">
            </div>
        </div>
        <div class="calender">
            <img src="/Images/calender.svg" alt="Image of online calender">
        </div>
</section>