@* Subscribe Section *@
<section class="subscribe">
    <div class="container">
        <h2>Don't Want to Miss Anything?</h2>
        <img src="/Images/arrows.svg" alt="arrow swirling downwards">
    </div>
    <div class="grid">
        <div class="signup">
            <h5>Sign up for Newsletters</h5>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
        <div class="signup-check">
            <p class="text-s">Daily Newsletter</p>
        </div>
    </div>
    <div class="subscribe-form">
        <form>
            <input type="text" id="email-signup" placeholder="Your Email"><i class="fa-light fa-envelope"></i>
        </form>
        <button class="btn-theme">Subscribe*</button>
    </div>
    <div>
        <p>* Yes, I agree to the terms and privacy policy.</p>
    </div>
</section>