@* Tools Section *@
<section class="tools">
    <div class="container">
        <h2>Integrate Top Work Tools</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
    </div>
    <div class="grid">
        <div class="tool-card">
            <img src="/Images/GoogleG.svg" alt="Google G">
            <div class="content">
                <p class="text-s">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/Zoom.svg" alt="zoom logo in blue circle">
            <div class="content">
                <p class="text-s">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/Slack.svg" alt="Slack logo">
            <div class="content">
                <p class="text-s">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/gmail.svg" alt="Gmail M">
            <div class="content">
                <p class="text-s">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/logoinbluecircle.svg" alt="Logo in blue circle">
            <div class="content">
                <p class="text-s">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/monkeyheadbluehat.svg" alt="Monkey head winking wearing blue hat">
            <div class="content">
                <p class="text-s">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/boxinbluecircle.svg" alt="open box in a blue circle">
            <div class="content">
                <p class="text-s">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
        </div>
        <div class="tool-card">
            <img src="/Images/Evernote.svg" alt="Evernote Symbol of green elefant head">
            <div class="content">
                <p class="text-s">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>
